.task-form {
	width: 100%;
	padding: 16px;
}

.view {
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	background-color: #fff;
	padding: 0 10px;
}

.toggle {
	width: 20px;
}

.task-text {
	font-size: 24px;
}
